/*
Theme Name: WP Bootstrap Starter
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
Description:  The best WordPress starter theme based on the most powerful frameworks in the world: "_s" (by Automattic, the main people behind WordPress development), Twitter Bootstrap (the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web) and Font Awesome (or Fontawesome, a full suite of 675+ pictographic icons for easy scalable vector graphics on websites). This theme, like WordPress, is licensed under the GPL. You can use this theme as base for your next WordPress theme project and you are allowed to remove the link at the footer or do whatever you want. Your feedback on how we can continuously improve this WordPress Starter Theme Bootstrap will be highly appreciated. Page templates includes Right-sidebar (default page template), Left-Sidebar, Full-Width, Blank with container, Blank without container Page. Other features - Currently using Bootstrap v4.0.0 , Widgetized footer area, WooCommerce ready, Compatible with Contact Form 7, Compatible with Visual Composer, Compatible with Elementor Page Builder. This theme will be an active project which we will update from time to time. Check this page regularly for the updates.
Version: 3.3.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp-bootstrap-starter
Requires at least: 4.7
Requires PHP: 5.2.4
Tested up to: 5.4
Tags: blog, custom-menu, featured-images, threaded-comments, translation-ready, right-sidebar, custom-background, e-commerce, theme-options, sticky-post, full-width-template
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
  margin: 0;
  -webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 2.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


  @font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    /* font-style: ; */
  }

  @font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    /* font-style: ; */
  }

  @font-face {
    font-family: "Montserrat-Light";
    src: url("fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
    /* font-style: ; */
  }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #24292e;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
}
h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
h2 {
  font-size: 24px;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 17.5px;
}

p {
  margin-bottom: 1.5em;
}
h1.entry-title {
  font-size: 1.31rem;
  border-bottom: 1px solid #eaecef;
}
h2.entry-title {
  border-bottom: 1px solid #eaecef;
}
h3.widget-title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff;
  overflow-x: hidden !important;
  /* Fallback for when there is no custom background color defined. */
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.home-container{
  width: 100%;
}
.menu-container-main{
  width: 100%;
  /* position: absolute;
  top: 450px; */
  text-align: center;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}
.menu-container-main img{
  width: 20% !important;
}

/* .menu-container-main img:hover{
  background-color: #99c557;
    border-radius: 20px;
} */

.menu-container-submain{
  padding: 3%;
  background-color: #fdf0f2;
  text-align: center;
}

.menu-container-submain h1{
  color: #21365e;
  font-family: "Montserrat-Regular";
  font-size: 1.9rem;
  line-height: 2.4rem;
}

.menu-container-submain img{
  width: 15% !important;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header#masthead {
  margin-bottom: 0;
  background-color: #21365e ;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  padding: .74rem 1rem;
}

.navbar-brand > a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  outline: medium none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navbar-brand > a:visited, .navbar-brand > a:hover {
  text-decoration: none;
}

#page-sub-header {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
}

body:not(.theme-preset-active) #page-sub-header h1 {
  line-height: 1.6;
  font-size: 4rem;
  color: #563e7c;
  margin: 0 0 1rem;
  border: 0;
  padding: 0;
}

#page-sub-header p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 300;
}
body:not(.theme-preset-active) #page-sub-header p {
color: #212529;
}
a.page-scroller {
  color: #333;
  font-size: 2.6rem;
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3.750rem;
  }
  body:not(.theme-preset-active) #page-sub-header {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  #page-sub-header p {
    max-width: 43rem;
    margin: 0 auto;
  }
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.logo-ipsen{
  width: 100px;
}
.navbar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
flex-wrap: nowrap;
}
.icons{
  display: flex;
 flex-direction: row;
 align-items: center;
}
.icons img{
  padding: 0 10px 0px 10px;
  width: 40px;
}
.home-icon{
  border-left: 1px solid white;
}
input[type="submit"]{
  background: none;
}
input[type="search"]{
  /* background: none; */
  background-color: #21365e !important;
  border: none;
  color: white !important;
  text-align: end;
    width: 70%;
    float: right;
  
  border-radius: 0px;
}
*:focus {
  outline: 0 !important;
}
input {
  outline: none !important;
}
input[type="search"]{
  border-bottom: 1px solid white;
}
input[type="search"]:active{
  /* background: none; */
  background-color: #21365e !important;
  border-bottom: 2px solid white;
  color:white;
}
input:focus {
  outline:none !important;
  border-bottom: 1px solid white;
  outline-style: none;
  box-shadow: none;
}

#masthead nav {
  padding-left: 0;
  padding-right: 0;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  color: #cdbfe3;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
  color: #fff;
  font-weight: 600;
  /*background: #f9f9f9;*/
}

.navbar-brand {
  height: auto;
}

.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
}

.dropdown-menu .dropdown-toggle::after {
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children {
    position: relative;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown.menu-item-has-children .dropdown.menu-item-has-children:hover>.dropdown-menu {
    display: block;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children:hover>a:after {
    border-left-color: #fff;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children.pull-left {
    float: none;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.dropdown-item {
  line-height: 1.2;
  padding-bottom: 0.313rem;
  padding-top: 0.313rem;
}

.dropdown-menu {
  min-width: 12.500rem;
}

.dropdown .open .dropdown-menu {
  display: block;
  left: 12.250em;
  top: 0;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
  background: transparent;
  line-height: 1.6;
}
.dropdown-menu .dropdown-item:hover {
  background: transparent;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .dropdown-menu li > .dropdown-menu {
    right: -9.875rem;
    top: 1.375rem;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    border: medium none;
    margin-left: 1.250rem;
    padding: 0;
  }

  .dropdown-menu li a {
    padding: 0;
  }

  #masthead .navbar-nav > li > a {
    padding-bottom: 0.625rem;
    padding-top: 0.313rem;
  }

  .navbar-light .navbar-toggler {
    border: medium none;
    outline: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  border: 1px solid #ddd;
  border-radius: 0.938rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  text-decoration: none;
}

.post-navigation .nav-next a::after {
  content: " \2192";
}

.post-navigation .nav-previous a::before {
  content: "\2190 ";
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #eee none repeat scroll 0 0;
}
/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
    #metaslider_container_375{
      display: block !important;
    }
    .metaslider .flex-control-nav {
      /* bottom: 110px !important;
      left: 1200px !important; */
      display: flex !important;
      flex-direction: column !important;
      bottom: 180px !important;
      line-height: 11px;
       z-index: 2;
      left: 1860px !important;
    
    }
    
    .metaslider .flex-control-nav li{
      margin: 5px !important;
    
    }

    #metaslider_386{
      display: none !important;
    }
  }

  #metaslider_container_375{
    display: none;
  }

  #metaslider_386{
    display: block;
  }

  .flex-active{
    background-color: #fe2240 !important;
  }

  .flex-control-paging li a {
    background-color: #cccbce ;
  }


 /* multislider */

 .wpcp-carousel-wrapper, .wpcp-wrapper-439{
  width: 57% !important;
  margin: 0 auto;
 }

 .wpcp-slide-image img{
   border-radius: 50%;
 }

 #sp-wp-carousel-free-id-439.sp-wpcp-439 .wpcp-single-item{
   border: none !important;
 }

 #sp-wp-carousel-free-id-439{
   margin-bottom: 6%;
 }

 .wpcp-carousel-section .wpcp-single-item img{
   max-width: 88% !important;
 }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.313rem;
  line-height: normal;
  padding: 0.938rem 1.438rem 0.875rem;
  text-decoration: none;
  top: 0.313rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  font-size: 0.875rem;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget_search .search-form input[type="submit"] {
  display: none;
}

.search-form label{
  background-color: #21365e !important;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #eee;
  text-decoration: none;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}
.widget_categories .nav-link {
  display: inline-block;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#content.site-content {
  /* padding-bottom: 3.75rem;
  padding-top: 4.125rem; */
}

.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 1.563rem;
  left: -2.5rem;
  position: absolute;
  top: 0.375rem;
  font-weight: 900;
}

.sticky .entry-title {
  position: relative;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
  margin-top: 0;
}

.post.hentry {
  margin-bottom: 4rem;
}

.posted-on, .byline, .comments-link {
  color: #9a9a9a;
}

.entry-title > a {
  color: inherit;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-body .pull-left {
  padding-right: 0.625rem;
}

.comment-list .comment {
  display: block;
}

.comment-list {
  padding-left: 0;
}

.comments-title {
  font-size: 1.125rem;
}

.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}

.comment-list .pingback:first-child {
  border: medium none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 0.313rem 0.313rem 0;
  text-align: center;
}
.wp-caption img[class*="wp-image-"] {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 0.688rem;
  line-height: 1.063rem;
  margin: 0;
  padding: 0.625rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item .gallery-columns-2 {
  max-width: 50%;
}
.gallery-item .gallery-columns-3 {
  max-width: 33.33333%;
}
.gallery-item .gallery-columns-4 {
  max-width: 25%;
}
.gallery-item .gallery-columns-5 {
  max-width: 20%;
}
.gallery-item .gallery-columns-6 {
  max-width: 16.66667%;
}
.gallery-item .gallery-columns-7 {
  max-width: 14.28571%;
}
.gallery-item .gallery-columns-8 {
  max-width: 12.5%;
}
.gallery-item .gallery-columns-9 {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugin Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Woocommerce
--------------------------------------------------------------*/
.woocommerce-cart-form .shop_table .coupon .input-text {
  width: 8.313rem !important;
}

.variations_form .variations .value > select {
  margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
.elementor-page article .entry-footer {
  display: none;
}

.elementor-page.page-template-fullwidth #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.elementor-page .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Visual Composer
--------------------------------------------------------------*/
.vc_desktop article .entry-footer {
  display: none;
}

.vc_desktop #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.vc_desktop .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer#colophon {
  font-size: 85%;
}
body:not(.theme-preset-active) footer#colophon {
  color: #99979c;
  background-color: #f7f7f7;
}
.navbar-dark .site-info {
  color: #fff;
}
.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}

.copyright a, footer#colophon a {
  color: inherit;
}

@media screen and (max-width: 767px) {
  #masthead .navbar-nav > li > a {
    padding-bottom: 0.938rem;
    padding-top: 0.938rem;
  }
}

html {
  overflow-x: hidden;
}
/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-dark .dropdown-item {
    color: #fff;
  }
  .navbar-nav .dropdown-menu {
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
    width: 100% !important;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}



/*--------------------------------------------------------------
## MOBILE/WEB
--------------------------------------------------------------*/

 
/* ARREGLAR: 
  - indicadores carrousel web
  - img background menu
  */
/*--------------------------------------------------------------
## HEADER
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  html{
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }
  body{
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }
  .container-web{
    display: block !important;
  width: 100%;
  }
  .container-mobile{
    display: none;
  }
}

.container-mobile{
  /* background-color: red; */
  width: 100%;
}

.container-web{
  display: none;
}

/*--------------------------------------------------------------
## CAROUSEL HEADER
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .slider-web{
    display: block !important;
  width: 100%;
  }

  .header-img-web{
    display: block !important;
  }

  .header-img-mobile{
    display: none !important;
  }
  .slider-mobile{
    display: none !important;
  }
  .carousel-indicators {
    background-color: #21365e;
    position: absolute;
    right: 0;
    left: 80% !important;
    bottom: 0% !important;
    top: 0px !important;
    z-index: 15;
    display: -ms-flexbox;
    display: flex !important;
    flex-direction: column !important;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
}
.header-img-web{
  display: none;
}

.header-img-mobile{
  display: block;
}
.slider-web{
  display: none;
}
.slider-mobile{
  display: block;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  top: 200px;
  left: 0;
  z-index: 15; 
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  background-color: #99979c;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators .active{
  background-color: #fe2240;
}

/*--------------------------------------------------------------
## MENU
--------------------------------------------------------------*/

@media only screen and (min-width: 1024px) {
  .menu-container-web2{
    display: block !important;
    position: absolute;
    top: -80px;
    z-index: 1;

    /* margin-bottom: 15% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: relative; */
  }

  .menu-container-web3{
    display: block !important;
    position: absolute;
    top: -150px;
    z-index: 1;

    /* margin-bottom: 15% !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: relative; */
  }


  .menu-container-ps{
    width: 57% !important;
    margin: 0 auto;
    display: flex !important;
    align-items: flex-end;
    

  }

  .menu-grid{
    display: grid !important;
  }

  .menu-container-web2-rel{
    position: relative;
    display: block !important;
    margin-bottom: 14% !important;
    /* height: 200px !important; */
  }

  .menu-container-web3{
    display: block !important;
    /* margin-bottom: 20px;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    position: relative; */
  }

  .menu-container-web-abs{
    /* width: 57%;
    text-align: center;
    position: absolute;
    top: -50px;
    z-index: 1; */
  }

  .menu-container-web-abs2{
    text-align: center;
    /* width: 57% !important;
    text-align: center;
    position: absolute;
    top: -80px !important;
    z-index: 1; */
  }

  .menu-container-web-abs2 a{
    color: transparent;
    width: 0% !important;
  }
  .menu-img{
    width: 90% !important;
    /* margin-right: 60px;
    margin-left: 60px;
    width: 15%; */
    /* margin-right: 20px;
    margin-left: 20px; */



    /* width: 29%;
    height: auto; */
  }

  .menu-container-mobile{
    display: none !important;
  }
}

.menu-grid{
  display: none;
}
.menu-container-web2{
  display: none;
}

.menu-container-web3{
  display: none;
}

.menu-container-mobile{
  margin: 50px auto;
  display: block;
  width: 80%;
 
}

.menu-mobile{
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center; */
  background-position-y: center;
  width: 100%;
  height: 80px;
}

/*--------------------------------------------------------------
## SUBMENU
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .menu-container-submain-mobile{
    display: none !important;
  }
  .menu-container-submain-web{
    display: block !important;
    padding: 10px 0px 20px 0px;
    background-color: #fdf0f2;
    text-align: center;
    margin-top: 100px;
  }
  .menu-container-submain-web a{
    color: transparent;
  }
  .menu-container-submain-web h1{
    color: #21365e;
    font-family: "Montserrat-Light";
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .sub-img-web{
    width: 13% !important;
  }
}

.menu-container-submain-web{
  display: none;
}

.menu-container-submain-mobile{
  padding: 10px 0px 20px 0px;
  background-color: #fdf0f2;
  display: block;

}
.sub-img-mobile{
  width: 90% !important;
}

.submenu-icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.submenu-icons a{
  width: 40%;
  text-align: center;
}

.menu-container-submain-mobile h1{
  color: #21365e;
  font-family: "Montserrat-Light";
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.title-submain{
  text-align: center;
}

.important-submain{
  line-height: 2.2;
  font-family: "Montserrat-Bold";
}

/*--------------------------------------------------------------
## CAROUSEL 2 ONLY MOBILE
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .subslider-web2{
    margin: 0 auto;
    display: flex !important;
    flex-direction: row;
    width: 55%;
    margin-bottom: 80px;
  }

  .flecha-header-img{
    display: none;
  }

  .title-carousel-web{
    display: block !important;
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .title-carousel-mobile{
    display: none !important;
    margin-top: 55px;
  }
  .slider-mobile2{
    display: none !important;
  }
  .img-carousel-web a{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
  .img-carousel-web{
    margin-left: 10px;
    margin-right: 10px;
  }
  .slider-web_2{
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
  }
}
.title-carousel-mobile{
  display: block;
}

.title-carousel-web{
  display: none;
}

.subslider-web2{
  display: none;
}
.slider-mobile2{
  display: block;
}

.title-carousel h1{
  color: #21365e !important;
  font-family: "Montserrat-Light";
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
}
.important-carosuel{
  line-height: 2.2;
  font-family: "Montserrat-Bold";
}
.slider_2{
  width: 40%;
  border-radius: 50%;
  margin: 0 auto;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px !important;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption h5 {
  font-size: 2rem !important;
  color: #fe2240 !important;
}
#carouselExampleIndicators3{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px !important;
  margin-bottom: 60px !important;

}

.indicators2{
  top: 170px !important;
}

.flecha-p {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='red' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.flecha-n{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='red' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");

}

.flecha-header{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.flecha-header-img{
  width: 20px;
}

/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
body:not(.theme-preset-active) footer#colophon {
  color: #fff;
  background-color: #21365e;
  height: auto;
  padding: 20px 10px 20px 10px;
}

@media only screen and (min-width: 1024px) {
  .footer-logos{
    align-items: center;
    margin-left: 20px ;
    width: 30% !important;
    display: flex;
    justify-content: space-between;
  }
  .menu_footer{
    margin-right: 20px !important;
  }

  .text-footer{
    margin-left: 0px !important;
    font-size: 0.5rem !important;
  }
}

.footer-menu-container{
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.logos-footer-img{
  width: 60% !important;
}

.menu_footer{
  
  display: flex;
  flex-direction: row;
  width: 50% !important;
  justify-content: flex-end;
}
.text-footer{
  margin-left: 0px !important;
  font-size: 0.3rem;
}
footer p{
  font-size: 0.5rem;
  margin-left: 20px;
  margin-bottom: 0px !important;
  font-family: "Montserrat-Light";
}
.footer-logos{
  align-items: center;
  margin-left: 20px ;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.privacidad{
  text-decoration: underline;
  padding: 0px 3px 0px 3px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.terminos{
  text-decoration: underline;
  padding-right: 3px;
}

.cookies{
  text-decoration: underline;
  padding-left: 3px;
}

/*--------------------------------------------------------------
## LA INCICIATIVA
--------------------------------------------------------------*/
.iniciativa-container-web{
  /* margin-top: 12% !important; */
  margin: 0 auto;
  width: 56%;
}
.iniciativa-container-mobile{
  margin: 0 auto;
  width: 95%;
}

.title-iniciativa{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  color: #80b82b;
}

.text-iniciativa, .text-iniciativa p{
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #21365e;
}

.text-iniciativa span{
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
  color: #21365e;
}

/*--------------------------------------------------------------
## SUBMENU DIARREA
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .title-icon-submenu{
    width: 56% !important;
    margin: 0 auto;
  }

  .title-icon-submenu2{
    width: 56% !important;
    margin: 100px auto;

  }

  .title-icon-submenu3 p{
    width: 56% !important;
    margin: 80px auto !important;
    font-family: "Montserrat-Bold";
    font-size: 25px;
    color: #21365e;
    /* padding-top: 50px; */

  }

  .title-icon-submenu img{
    width: 12% !important;
  }

  .title-icon-submenu p{
    font-size: 1em !important;
  }

  .descarga-recursos{
    margin: 0 auto;
    width: 57% !important;
  }

  .descargar-img{
    width: 50px !important;
  }


}

.descargar-img{
  width: 30px;
}
.diarrea-container-mobile{
  margin-bottom: 100px;
  display: block;
  text-align: center;
}

.title-icon-submenu{
  width: 80%;
  margin: 0 auto;
}

.title-icon-submenu2{
  width: 80%;
  margin: 50px auto;
  hyphens: auto;
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #21365e;
  line-height: 18px;
}

.rutas{
  width: 80%;
  margin: 0 auto;
  hyphens: auto;
}

.rutas p{
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #21365e;
  line-height: 18px;
}

.title-icon-submenu img{
  width: 30%;
}
.title-icon-submenu h1{
  font-family: "Montserrat-Bold";
  color: #21365e;
  font-size: 1.7em;
}

.title-icon-submenu p{
  font-family: "Montserrat-Regular";
  color: #21365e;
  font-size: 1.3em;
}

.descarga-recursos{
  margin: 0 auto;
  width: 80%;
}
.descarga-recursos p{
  font-family: "Montserrat-Regular";
  color: #21365e;
  font-size: 1em;
}

.title-icon-submenu3 p{
  width: 56% !important;
  margin: 50px auto;
  font-family: "Montserrat-Bold";
  font-size: 25px;
  color: #21365e;

}
/*--------------------------------------------------------------
## POSTS DIARREA
--------------------------------------------------------------*/

        /*--------------------------------------------------------------
        ## POST DESTACADO DIARREA
        --------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .dr-important{
    width: 57% !important;
    top: -50px !important;
  }

  .img-dr-important{
    height: 500px !important;
  }
  .fa-play-circle {
    margin:200px auto !important;
    /* position: relative;
    left: 550px !important; */
    font-size: 100px;
    /* top: 220px !important; */
    color: #fce3e7cc;
    border-radius: 100%;
}
  .caja-texto{
    padding-bottom: 30px !important;
    line-height: 13px !important;
  }
}
.dr-submenu{
  background: antiquewhite;
  width: 100%;
  margin: 0 auto;
}

.dr-important{
  position: relative;
  top: -30px;
  width: 80%;
  margin: 20px auto;
  border-radius: 15px;
  background-color: #fff;
}

.img-dr-important{
  text-align: center;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fa-play-circle{
  margin:70px auto;
  font-size: 100px;

  color: #fce3e7cc;
  border-radius: 100%;
}

.fa-play-circle:hover{
  background-color: white;
}

.caja-texto{
  margin: 15px 20px 0px 20px;
  padding-bottom: 20px;
  line-height: 8px;
}
.caja-texto h2, .caja-texto p{
  margin: 0px !important;
  padding: 0px !important;
  
}

.caja-texto h2{
  margin-bottom: 5px !important;
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
  color: #21365e;
}

.caja-texto-3 h2{
  margin-bottom: 5px !important;
  font-family: "Montserrat-Bold";
  font-size: 0.8rem;
  color: #21365e;
}

.caja-texto-3{
  margin: 15px 20px 0px 20px;
  padding-bottom: 20px;
  line-height: 8px;
}

.caja-texto p{
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #21365e;
  line-height: 14px;
}

       /*--------------------------------------------------------------
        ## POSTS DIARREA
        --------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .volver{
    width: 57% !important;
    margin: 0 auto;
    margin-top: 0px !important;
  }

  
  .dr-diarrea-img-posts{
    width: 30% !important;
  }
  .dr-diarrea-text-posts{
    width: 70% !important;
    line-height: 13px !important;

  }
  .ver-mas{
    border-radius: 15px !important;
    height: 30px !important;
    /* float: left !important; */
    margin-right: 10px;
    background-color: white;
    color: #e94058 !important;
    width: 100px !important;
  }
  .dr-diarrea-text-posts{
    margin: 7px 10px 7px 25px !important;
  }

  .drs-diarrea-container{
    width: 57% !important;
    margin-bottom: 70px !important;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: -40px !important;
  }
  
}
.container-doctors-diarrea{
  background-color: #fce3e7cc;
  padding-bottom: 20px;
}
.drs-diarrea-container{
    width: 80%;
    margin-bottom: 55px !important;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: -30px;
}
.dr-diarrea{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dr-diarrea-img-posts{
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 170px;
  background-size: cover;
  background-position: center;
}

.dr-diarrea-text-posts{
  margin: 7px 10px 7px 10px;
  line-height: 8px;
  width: 60%;
}

.dr-diarrea-text-posts h2, .dr-diarrea-text-posts p{
  margin: 0px !important;
  padding: 0px !important;
}

.dr-diarrea-text-posts h2{
  hyphens: auto;
  margin-bottom: 5px !important;
  font-family: "Montserrat-Bold";
  font-size: 1.2rem;
  color: #21365e;
}

.dr-diarrea-text-posts p{
  hyphens: auto;
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #21365e;
  line-height: 15px;
}

.dr-diarrea-text-posts i{
  line-height: 16px !important;
}

.ver-mas{
  border: 1px solid #e94058;
  border-radius: 10px;
  height: 20px;
  /* float: right; */
  margin-right: 10px;
  background-color: transparent;
  color: #e94058 !important;
}

.ver-mas a{
  text-decoration: none;
  color: #e94058 !important;
}

.ver-mas:hover{
  border: 1px solid #e94058;
  border-radius: 10px;
  height: 20px;
  /* float: right; */
  margin-right: 10px;
  background-color: #e94058;
  color: #fff !important;
}

.ver-mas a:hover{
  text-decoration: none;
  color: #fff !important;
}

.img-doctors-posts{
  width: 100px;
  height: 100px;
}

.volver{
  width: 80%;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
}

.volver-btn{
  border: 1px solid #21365e;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: transparent;
  color: #21365e !important;
}

.volver-btn a{
  text-decoration: none;
  color: #21365e !important;
}

.volver-btn:hover{
  border: 1px solid #21365e;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #21365e;
  color: #fff !important;
}

.volver-btn a:hover{
  text-decoration: none;
  color: #fff !important;
}




/*--------------------------------------------------------------
## POSTS HIPERGLUCEMIA
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .recursos-container{
    width: 57% !important;
    /* display: flex !important; */
    /* justify-content:  !important; */
    /* align-content: space-between !important; */
  }
  .recursos-dr{
    width: 24% !important;
    margin: 0px 4px 40px 3px !important;
  }
}

.recursos-container{
  /* align-content: space-between !important; */
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80%;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.recursos-dr{
  width: 45%;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  margin: 0px 4px 40px 3px !important;
  justify-content: space-between;
}

.img-dr-recursos{
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.descargar{
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
}

.title-recursos{
  height: 70px;
}

/*--------------------------------------------------------------
## TERMINOS LEGALES
--------------------------------------------------------------*/

.container-terminos{
  hyphens: auto;
  margin-bottom: 100px;
  display: block;
  width: 60%;
  margin: 100px auto;
  font-family: "Montserrat-Regular";
  color: #21365e;
}

.container-terminos h1, .container-terminos h2, .bold{
  font-family: "Montserrat-Bold";
  color: #21365e;
}

.container-terminos h3{
  font-size: 16px;
  font-family: "Montserrat-Bold";
  color: #21365e;
  text-decoration: underline;
}

.container-terminos h2{
  margin-top: 50px;
}

.table{
  color: #21365e !important;
}

/*--------------------------------------------------------------
## SEARCHER
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  

  .drs-diarrea-container-search{
    width: 60% !important;
    margin-bottom: 20px !important;
    margin: 0 auto;
    background-color: #fff !important;
    border-radius: 20px;
  }

  .titulo-not-found{
    width: 60% !important;

  }
  
  .text-not-found{
    width: 60% !important;

  }
  
}
.search-field{
  border-bottom: 1px solid white;
}
.search-container{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: #fce3e7cc;
}

.drs-diarrea-container-search{
  background-color: #fff !important;
  width: 80%;
  margin-bottom: 20px !important;
  margin: 0 auto;
  border-radius: 20px;
}

.page-title-searcher{
  width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Montserrat-Regular";
    color: #21365e;
}

.titulo-not-found{
  width: 80%;
  margin: 0 auto;
  font-size: 22px !important;
  font-family: "Montserrat-Bold";
  color: #21365e;
}

.text-not-found{
  hyphens: auto;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 1.2rem !important;
  font-family: "Montserrat-Regular";
  color: #21365e;
}
/*--------------------------------------------------------------
## RECETAS FILTRO
--------------------------------------------------------------*/
@media only screen and (min-width: 1224px) {

.recetas-flex{
  display: flex;
    flex-direction: row;
    width: 65% !important;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-start;
}
}

@media only screen and (min-width: 1024px) {
  

  /* .drs-diarrea-container-search{
    width: 60% !important;
    margin-bottom: 20px !important;
    margin: 0 auto;
    background-color: #fce3e7cc;
    border-radius: 20px;
  } */
  /* .form-mobile{
    display: none !important;

  } */
  .form-mobile{
    display: block !important;
    width: 60% !important;
    margin: 0 auto;
    padding-bottom: 100px !important;

  }
  
}
/* .form-web{
  display: none;

} */

.form-mobile{
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.buttons-filter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons-filter-web{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label{
  margin-bottom: 0px !important;
}

@media only screen and (min-width: 1024px) {
  

  .input-diarrea-carcinoide{
    display: none;
  }
  .diarrea-carcinoide{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-off-diarrea.png") !important;
  }
  .input-diarrea-carcinoide:checked + .diarrea-carcinoide{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-on-diarrea.png") !important;

  }

  .esteatorrea{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-esteorrea-off.png") !important;
  }
  
  .input-esteatorrea:checked + .esteatorrea{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-esteorrea-on.png") !important;
  }
  
  
  .diarrea-intestinal{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-diarrea-por-cirugia-off.png") !important;
  }
  
  .input-diarrea-intestinal:checked + .diarrea-intestinal{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-diarrea-por-cirugia-on.png") !important;
  }
  
  .hiperglucemia{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-hiperglucemia-off.png") !important;
  }
  
  .input-hiperglucemia:checked + .hiperglucemia{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-hiperglucemia-on.png") !important;
  }
  
  .anorexia{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-anorexi-off.png") !important;
  }
  
  .input-anorexia:checked + .anorexia{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-anorexi-on.png") !important;
  }
  
  .anemia{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-anemia-off.png") !important;
  }
  
  .input-anemia:checked + .anemia{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-anemia-on.png") !important;
  }
  
  .liposolubles{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-deficit-vitaminas-off.png") !important;
  }
  
  .input-liposolubles:checked + .liposolubles{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-deficit-vitaminas-on.png") !important;
  }
  
  
  .b12{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-deficit-vitamina-b12-off.png") !important;
  }
  
  .input-b12:checked + .b12{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-deficit-vitamina-b12-on.png") !important;
  }

  .todas{
    width: 33% !important;
    height: 95px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-todas-off.png") !important;
  }
  
  .input-todas:checked + .todas{
    width: 33% !important;
    height: 70px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/filtro-todas-on.png") !important;
  }
  
}

.input-diarrea-carcinoide{
  display: none;
}
.diarrea-carcinoide{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-diarrea-off.png");
}
.input-diarrea-carcinoide:checked + .diarrea-carcinoide{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-diarrea-on.png");

}

.input-esteatorrea{
  display: none;
}

.esteatorrea{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-esteatorrea-off.png");
}

.input-esteatorrea:checked + .esteatorrea{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-esteatorrea-on.png");
}

.input-diarrea-intestinal{
  display: none;
}

.diarrea-intestinal{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-diarrea-por-cirugia-off.png");
}

.input-diarrea-intestinal:checked + .diarrea-intestinal{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-diarrea-por-cirugia-on.png");
}

.input-hiperglucemia{
  display: none;
}

.hiperglucemia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-hiperglucemia-off.png");
}

.input-hiperglucemia:checked + .hiperglucemia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-hiperglucemia-om.png");
}

.input-anorexia{
  display: none;
}

.anorexia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-anorexia-off.png");
}

.input-anorexia:checked + .anorexia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-anorexia-on.png");
}

.input-anemia{
  display: none;
}

.anemia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-anemia-off.png");
}

.input-anemia:checked + .anemia{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-anemia-on.png");
}

.input-liposolubles{
  display: none;
}

.liposolubles{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-deficit-vitaminas-off.png");
}

.input-liposolubles:checked + .liposolubles{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-deficit-vitaminas-on.png");
}

.input-b12{
  display: none;
}

.b12{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-deficit-vit-b12-off.png");
}

.input-b12:checked + .b12{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-deficit-vit-b12-on.png");
}

.input-todas{
  display: none;
}

.todas{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-todas-off.png");
}

.input-todas:checked + .todas{
  width: 32%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url("http://marketing-clm.com/nutriactivos/wp-content/uploads/2021/07/boton-movil-filtro-todas-on.png");
}


.submit-recetas{
  /* border: 1px solid #e94058; */
  background-color: transparent;
    border-radius: 25px;
    padding: 20%;
    /* color: #e94058; */
    float: right;
    width: 100px;
    margin-right: 10px;
    position: relative;
    border: none;
}

/* .submit-recetas:hover{
  border: 1px solid #e94058;
  background-color: #e94058;
    border-radius: 25px;
    padding: 5px;
    color: #fff;
    float: right;
} */

.submit-recetas:active{
  background-color: transparent !important;
}
.submit-recetas:checked{
  background-color: transparent !important;
}
.filter-container{
  float: right;
    display: inline-block;
    position: relative;
}

.filtro-icono{
  position: absolute;
    left: 60px;
    background-color: #e72742;
    padding: 12%;
    border-radius: 50%;
    color: white;
    font-size: 1.4rem;
}

.filtro-icono:hover{
    background-color: white !important;
    color: #e72742 !important;
    border: 1px solid #e72742  !important;

}

.filtro-icono:focus{
  background-color: white !important;
  color: #e72742 !important;
  border: 1px solid #e72742  !important;

}

/*--------------------------------------------------------------
## RECETAS
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  
  .filtro-icono{
    position: absolute;
    left: 20px;
    background-color: #e72742;
    padding: 20%;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
  }

  .drs-recetas-container{
    width: 45% !important; 
    margin-bottom: 15px !important;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
  }

  .ver-mas2{
    margin-top: 20px;
    border: 1px solid #e94058;
    border-radius: 15px !important;
    height: 30px !important;
    width: 120px !important;
    /* float: right; */
    margin-right: 10px;
    background-color: transparent;
    color: #e94058 !important;
  }

}

.drs-recetas-container{
  width: 85%;
  margin-bottom: 15px !important;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
}

.container-doctors-recetas{
  background-color: #fce3e7cc;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ver-mas2{
  margin-top: 20px;
  border: 1px solid #e94058;
  border-radius: 10px;
  height: 20px;
  /* float: right; */
  margin-right: 10px;
  background-color: transparent;
  color: #e94058 !important;
}

.ver-mas2 a{
  text-decoration: none;
  color: #e94058 !important;
}

.ver-mas2:hover{
  border: 1px solid #e94058;
  border-radius: 10px;
  height: 20px;
  /* float: right; */
  margin-right: 10px;
  background-color: #e94058;
  color: #fff !important;
}

.ver-mas2 a:hover{
  text-decoration: none;
  color: #fff !important;
}



@media only screen and (min-width: 1024px) {
  

  .caja-texto2{
    display: flex;
    flex-direction: row !important;
    width: 100%;
    padding: 40px;
    hyphens: auto;
    font-size: 1rem;
  
  }
  .ingredientes{
    width: 30% !important;
  }
  
  .elaboracion{
    width: 70% !important;
  }

}

.caja-texto2{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  hyphens: auto;
  font-size: 1rem;

}

.ingredientes{
  width: 100%;
}

.elaboracion{
  width: 100%;
}
.title-ie{
  /* margin-left: 30px; */
  font-family: "Montserrat-Bold";
  color: #21365e;
}
.ingredientes ul{
  color: #df2c2e;
}

.elaboracion ul{
  list-style: decimal;
  color: #df2c2e;
}

.list-text{
  font-family: "Montserrat-Regular";
  color: #21365e;
}

.table-striped{
  text-align: center;
  font-size: 0.67rem;
}

.no_recetas{
  margin: 0 auto;
    color: #21365e;
    text-align: center;
    line-height: 2.2;
    font-family: "Montserrat-Regular";
    margin-top: 10px;
}